
/* 
   =================
   Color Palette
   =================
*/

:root {
  --blue: #062437;
  --blue0: #f9f9fa;
  --blue1: #ebeeef;
  --blue2: #dde1e4;
  --blue3: #ced4d8;
  --blue4: #bdc5ca;
  --blue5: #aab4bb;
  --blue6: #95a2aa;
  --blue7: #7c8b95;
  --blue8: #5b6f7b;
  --blue9: #284253
}
.blue { color: var(--blue) }
.blue0 { color: var(--blue0) }
.blue1 { color: var(--blue1) }
.blue2 { color: var(--blue2) }
.blue3 { color: var(--blue3) }
.blue4 { color: var(--blue4) }
.blue5 { color: var(--blue5) }
.blue6 { color: var(--blue6) }
.blue7 { color: var(--blue7) }
.blue8 { color: var(--blue8) }
.blue9 { color: var(--blue9) }
.bg-blue { background-color: var(--blue) }
.bg-blue0 { background-color: var(--blue0) }
.bg-blue1 { background-color: var(--blue1) }
.bg-blue2 { background-color: var(--blue2) }
.bg-blue3 { background-color: var(--blue3) }
.bg-blue4 { background-color: var(--blue4) }
.bg-blue5 { background-color: var(--blue5) }
.bg-blue6 { background-color: var(--blue6) }
.bg-blue7 { background-color: var(--blue7) }
.bg-blue8 { background-color: var(--blue8) }
.bg-blue9 { background-color: var(--blue9) }

p,
a {
  color: var(--blue);
}

/* =================
   Typography
   =================
*/

h1,
h2,
h3 {
  font-family: 'Karla', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

header h2,
nav,
p,
small {
  font-family: "Inconsolata", "Lucida Console", Monaco, monospace;
  font-weight: 400;
}

p {
  color: var(--blue);
}

h3 {
  font-weight: 200;
}
small {
  margin-top: 0px;
  display: block;
}

/*
   =================
   Link Hover Styles
   =================
*/

/* Inline Anchor Styles */
/* https://tympanus.net/Development/InlineAnchorStyles/ */

.link-braces a {
	padding: 0 0.25em;
	font-weight: 500;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.link-braces a:hover {
	color: var(--blue4);
}

.link-braces a::before,
.link-braces a::after {
	position: absolute;
	top: 0;
	font-weight: 100;
	font-size: 150%;
	line-height: 0.7;
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
}

.link-braces a::before {
	left: -0.6em;
	content: '[';
  color: var(--blue);
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.link-braces a::after {
	right: -0.4em;
	content: ']';
  color: var(--blue);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.link-braces a:hover::before,
.link-braces a:hover::after {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
/*
   =================
   Navigation
   =================
*/

nav {
  position: fixed;  
  top: 0;
  right: 0;

  z-index: 1; /* needed for setting pseudo-element z-index */
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: var(--blue);
	vertical-align: bottom;
	text-decoration: none;
	white-space: nowrap;
}

/* 
   =================
   Header
   =================
*/

header {
  margin-top: 12rem;
}
header h1,
header h2 {
  line-height: 1rem;
}
header hr {
  margin-top: 4rem;
  border: 1px solid var(--blue1);
}

/* 
   =================
   Container
   =================
*/

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 6rem;
}

@media screen and (max-width: 640px) {
  .container {
    padding: 2rem;
  }
}

/*
   =================
   Section Headings
   =================
*/

.shead {
  line-height: 4rem;
  text-underline-position: under;
  text-decoration: solid underline var(--blue3);
}

/*
   =================
   Work 
   =================
*/

small.work-desc {
  line-height: 1rem;
}

/*
   =================
   Social 
   =================
*/

.social a {
  display: inline-block;
  width: 48px;
}

/*
   =================
   Footer 
   =================
*/

pre {
  /* margin: 0 auto; */
  padding: 1rem;
  margin-bottom: 2rem;
  max-width: 550px;
  font-size: 0.8rem;
}

footer {
  width: 100%;
}

.footer-block {
  width: 11.11%;
  height: 48px;
  float: left;
}
